@import "../../../../../../../../variables/colors.scss";

.method-radio-button {

  display: flex;
  align-items: center;

  &__input {
    margin-right: 7px;
  }

  &__icon {
    cursor: pointer;
    color: $primary-text;
  }

  &__description-text {
    margin-bottom: 0;
  }

}