
// Text
$primary-text: #274472;
$secondary-text: #757575;
$error-text: #8B0000;

// Buttons
$button-text: #FFFFFF;
$button-primary-color: #274472;
$button-primary-color-active: #3b5f90;

//Bar chart tooltip
$bar-chart-tooltip-back: #FFFFFF;
$bar-chart-tooltip-border-color: grey;
$bar-chart-tooltip-additional-info: grey;